<div class="banner">
  <div class="container d-flex h-100">
    <div class="align-self-center">
      <img src="/assets/images/apak.png" />
    </div>
  </div>
</div>
<div class="container">
  <h1 class="mt-2">Wie zijn wij?</h1>
  <p>
    APAK is reeds meer dan 35 jaar gespecialiseerd in het afwerken van stukken in diverse metalen zoals aluminium,
    messing, koper, roestvrij staal, zilver en andere.
    In samenwerking met onze klanten, kunnen wij diverse afwerkingen toepassen, alsook een optimale prijs kwaliteit
    nastreven.
    Met de laatste nieuwe software kunnen wij de productie en lopende stock perfect opvolgen.
  </p>
  <h3 class="mt-4">Polishing metals & coatings</h3>
  <img src="./../assets/images/tubbing.jpg" style="width: 100%; height: auto;" />
  <h1 class="mt-4">Contact</h1>
  <div class="row align-items-center mb-4">
    <div class="col">
      <fa-icon class="p-1" [icon]="faEnvelope"></fa-icon>
      <a class="p-1" href="mailto:info@apak.be" target="_blank"> info@apak.be</a>
    </div>
    <div class="col">
      <fa-icon class="p-1" [icon]="faPhone"></fa-icon>
      <a class="p-1" href="tel:056420001" target="_blank"> 056/42.00.01</a>
    </div>
    <div class="col">
      <fa-icon class="p-1" [icon]="faMapMarkerAlt"></fa-icon>
      <a class="p-1" href="http://maps.google.com/?q=apak" target="_blank"> Menenstraat 306, 8560 Wevelgem</a>
    </div>
  </div>
  <h2 class="mt-4">Hartelijk dank voor uw bezoek aan onze site.</h2>
