<div class="banner">
  <div class="flex full-width padding-left padding-right" style="height: 100%!important;">
    <div class="align-self-center">
      <img src="/assets/images/apak.png" />
    </div>
  </div>
</div>
<div class="full-width padding-left padding-right">
  <h1 class="margin-top-x--small">Wie zijn wij?</h1>
  <p>
    APAK is reeds meer dan 35 jaar gespecialiseerd in het afwerken van stukken in diverse metalen zoals aluminium,
    messing, koper, roestvrij staal, zilver en andere.
    In samenwerking met onze klanten, kunnen wij diverse afwerkingen toepassen, alsook een optimale prijs kwaliteit
    nastreven.
    Met de laatste nieuwe software kunnen wij de productie en lopende stock perfect opvolgen.
  </p>
  <h3 class="margin-top">Polishing metals & coatings</h3>
  <img src="./../assets/images/tubbing.jpg" style="width: 100%; height: auto;" />
  <h1 class="margin-top">Contact</h1>
  <div class="flex flex-wrap justify-content--space-between align-items-center mb-4">
    <div class="col">
      <fa-icon class="p-1" [icon]="faEnvelope"></fa-icon>
      <a class="p-1" href="mailto:info@apak.be" target="_blank"> info@apak.be</a>
    </div>
    <div class="col">
      <fa-icon class="p-1" [icon]="faPhone"></fa-icon>
      <a class="p-1" href="tel:056420001" target="_blank"> 056/42.00.01</a>
    </div>
    <div class="col">
      <fa-icon class="p-1" [icon]="faMapMarkerAlt"></fa-icon>
      <a class="p-1" href="http://maps.google.com/?q=apak" target="_blank"> Menenstraat 306, 8560 Wevelgem</a>
    </div>
  </div>
  <h2 class="margin-top">Hartelijk dank voor uw bezoek aan onze site.</h2>
